
* {
    box-sizing: border-box;
}

[data-ng-click] {
    cursor: pointer;
}

.canvas {
    position: relative;
}

.contextmenu {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    display: none;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99;
}

.add-box {
    cursor: pointer;
}

.box {

    position: absolute;
}

.image-area, .text-area {
    display: none;
}

.boxtype-text {
    background-color: yellow;
}

.boxtype-text > .text-area {
    display: block;
    width: 100%;
    min-height: 100px;
    background-color: white;
}

.boxtype-image {
    background-color: red;
}

.boxtype-image > .image-area {
    display: block;
}