<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<meta charset="utf-8" />
<title>Angular Starterkit</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/controllers.js"></script>

<link rel="stylesheet" href="css/_reset.css">
<link rel="stylesheet" href="css/ui.css">

</head>

<style>
    /* CSS */

    .canvas {
        width: 2000px;
        height: 2000px;
    }

    .box {
        min-width: 200px;
        max-width: 300px;
        min-height: 250px;
        padding: 10px;
    }

    .boxtype-image > img {
        max-width: 100%;
    }

</style>

<body data-ng-controller="AppCtrl">
    <div class="canvas">
        <div class="contextmenu">
            <a class="add-box" data-add-type="boxtype-text">Add Text</a> |
            <a class="add-box" data-add-type="boxtype-image">Add Image</a>
        </div>
        <div class="box {{box.type}}" style="top: {{box.posY}}; left: {{box.posX}}" data-ng-repeat="box in boxes">
            <div class="text-area" contenteditable>
            </div>
            <div class="image-area">
                <input type="text" data-ng-model="imagelink"></input><br>
                <img src="{{imagelink}}">
            </div>
        </div>
    </div>
</body>
</html>